@charset "UTF-8";

html {
    margin-left: 350px;
    width: 720px;
    
}

h1 {
    font-size: 16px;
    border: 2px solid;
    width: fit-content;
    text-transform: uppercase;
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 6px;
    
}

h2 {
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oxygen Mono", monospace;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 3px;
    margin-top: -1px;
}

header p {
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Oxygen Mono", monospace;
    font-weight: bold;
    font-style: normal;
    margin-top: -30px;
}

main {
    column-count: 3;
    width: 55vw;
}

h4{
    font-family: "Oxygen Mono", monospace;
    font-weight: bold;
    font-style: normal;
    margin-top: 2em;
}

main p{
    text-indent: 1em;
    margin-bottom: -1em;
}
