@charset "UTF-8";

body {
  background-color: #caaa80; 
  color: #2b1b12;           
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.8;
}

/* HEADER */
header {
  text-align: center;
  padding: 55px ;
}
/* song name */
header h1 {
  font-size: 45px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
/* artists */
header h2 {
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 3px;
}
/* album name */
header p {
  font-family: "Belleza", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 19px;
  margin-top: 7px; 
}


