@charset "UTF-8";

/* Named Selector 
---------------------------------------------- */
h2{
    color: red;
    font-style: italic;
}

/* ID Selector 
---------------------------------------------- */
#project{
    color: darkblue;
}

/* Class Selector 
---------------------------------------------- */
.about{
    background-color: lightgoldenrodyellow;
}

/* Contextual/Descendent Selector 
---------------------------------------------- */
section p{
    color: darkorange;
}
.subproject p{
    color: darkblue;
}

/* Grouped Selector 
---------------------------------------------- */
h1, h2, h3{
font-family: sans-serif;
}

/* Pseudoclass Selector 
---------------------------------------------- */
a:link{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}
a:visited{
    color: magenta;
}
a:focus{
    background-color: yellow;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: darkorange;
}

/* Structural Pseudoclass Selector 
---------------------------------------------- */
li:nth-child(3n){
    background-color: white;
}
li:nth-of-type(odd){
    font-weight: bold;
}
article section:last-of-type{
    background: lightblue;
}

/* Sibling and Pseudoelement Selector 
---------------------------------------------- */
h1 + p::first-line{
    text-transform: uppercase;
}