@charset "UTF-8";

/* background colour of page */
body {
    background-color: black;
}

/* magazine background white colour */
#container {
    max-width: 750px;
    margin: 20px auto;
    padding: 1px 35px;
    background-color: white;
}

/* adds a small border around */
/* creates the main grid layout for the page */
main {
   
    border: 0.5px solid rgba(0, 0, 0, 0.46);
    margin-top: 85px;
    padding: 100px 0px 2px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    grid-auto-flow: column;
}

/* puts article content in the second grid column (so they line up next to other section)*/
article {
    grid-column: 2;
}
/* puts sidebar content in the first grid column (so they line up next to other section)*/
aside {
    grid-column: 1;
}

/* HEADER SECTION */

/* styles the main page heading and position */
h1 {
    text-transform: lowercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 80px;
    margin-bottom: -95px;
}

/* removes italic and makes font red */
h1 em {
    font-style: normal;
    color: rgb(208, 0, 0);
}

/* styles the header subtile and position */
header p {
    margin: -85px;
    margin-left: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15.5px;
}

/* styles the small image  */
article:first-of-type img {
    width: 180px;
    height: 110px;
    float: right;
    margin-right: 1px;
    margin-top: -110px;
}

/* FIRST SIDEBAR SECTION */

/* styles the first sidebar section */
aside:first-of-type {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 16.1px;
    width: 185px;
    float: left;
    margin-left: 40px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: -10px;
    border-right: 1px solid rgba(204, 204, 204, 0.982);
    padding-right: 37px;
}

/* styles the links in the section */
aside:first-of-type a {
    color: black;
    text-decoration: none;
    font-weight: 550;
    display: block;
    margin-top: -18px;
    word-break: break-all;
    width: 100px;
}

/* FIRST ARTICLE SECTION */

/* styles the first article section  */
article:first-of-type {
    width: 410px;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 10px;
}

/* styles the header in the first article section */
article:first-of-type h2 {
    margin-top: 0px;
    font-weight: 560;
    font-size: 27px;
    letter-spacing: 1px;
    color: rgb(208, 0, 0);
}

/* styles the first paragrpah  */
article:first-of-type p {
    font-size: 12.6px;
    text-align: justify;
    margin-top: -20px;
    font-weight: lighter;
    line-height: 14px;
}

/* styles the big picture size and position */
article:last-of-type img {
    margin-left: 15px;
    margin-top: -145px;
    width: 410px;
    height: 260px;
    display: block;
    margin-bottom: 10px;
}

/* SECOND SIDEBAR SECTION */

/* styles the last sidebar section size and font */
aside:last-of-type {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(246, 240, 240, 0.91);
    padding: 25px;
    width: 213px;
    margin-top: 20px;
}

/* styles the last sidebar heading */
aside:last-of-type h2 {
    margin-top: 0;
    font-size: 19px;
    color: rgb(208, 0, 0);
    font-weight: 400;
    letter-spacing: 1px;
}

/* styles the last sidebar content */
aside:last-of-type p,
aside li,
aside h3 {
    font-size: 12px;
    line-height: 15px;
    width: 200px;
    margin-top: -15px;
    font-weight: lighter;
}

/* moves list content over  */
aside:last-of-type ul {
    padding-left: 18px;
    margin-top: 20px;
}

/* adds sapce between list content */
aside:last-of-type li p {
    line-height: 18px;
}

/* changed the list bullets to a plus */
li::marker {
    content: "+ ";
}

/* removed the links colour and line */
aside:last-of-type a {
    color: black;
    text-decoration: none;
}

/* adds big plus sign in the last sidebar section */
aside:last-of-type h2::before {
    content: "+ ";
    font-weight: lighter;
    color: black;
    font-size: 70px;
    margin-right: -16px;
    position: absolute;
    left:350px; 
    top:600px;
    width: 100%;
}

/* moves heading over */
aside:last-of-type h2 {
    margin-left: 25px;
}

/* LAST ARTICLE SECTION */

article:last-of-type{
    padding:10px;
}

/* styles last article section */
article:last-of-type h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size:50px;
    font-weight:lighter;
    margin-top: 0px;
    margin-bottom:-15px;
}

/* styles last article section paragraph */
article:last-of-type p{
    font-size:14px;
    line-height:15px;
    text-align:justify;
    width: 410px;
}

/* changes the highlight colour to gray */
mark{
    background-color:#c4c4c36c;
    color:black;
}

/* removes link colour and underline and makes it bold */
a{
    color:black;
    text-decoration:none;
    font-weight: bold;
}

/* FOOTER SECTION */

/* styles the footer and makes lowercase */
footer{
    font-family: Helvetica, Arial, sans-serif;
    font-size:16px;
    color:#555;
    text-transform: lowercase;
}

/* removes italic and make bold */
footer em{
    font-style:normal;
    font-weight:bold;
    padding: 10px;
}

/* make CAA bold uppercase and closer to the other letters */
footer abbr{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    margin-right: -2px;
}